<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todolist</title>

    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div id="container">

        <div class="upside">
            <input v-model="newTodo.text" type="text" name="new-todo" id="new-todo" placeholder="Nuovo Todo">
            <button @click="funzioneAddTodo" id="aggiungi">Aggiungi</button>
        </div>

        <ul class="todolist">
            <li v-for="(element, index) in arrayTodo">
                <div :class="(element.done == true) ? 'testo-barrato' : ''">{{ element.text }}</div>
                <button id="btn" @click="funzioneDelete(index)">x</button>
            </li>
        </ul>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="js/script.js"></script>
</body>

</html>